.myheader-header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #fff;
    padding: 0;
    z-index: 1000;
}

.myheader-header-container {
    max-width: 1200px;
    margin: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myheader-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.myheader-logo-image {
    height: 40px;
    /* Adjust size as needed */
    width: auto;
}

.myheader-logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.myheader-nav-links {
    display: flex;
    align-items: center;
    /* Align items in the center */
    gap: 30px;
}

.myheader-icon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: middle;
}

.myheader-search-input {
    padding-left: 32px;
    /* Make space for icon */
    background-image: url('../Images/magnifying-glass.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 15px 15px;
    height: 30px;
    border-radius: 4px;
}

.myheader-search-input {
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

.myheader-nav-button {
    background: none;
    border: none;
    padding: 0;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s;
}

.myheader-nav-button:hover {
    color: #888;
}

.myheader-nav-button:focus {
    outline: none;
}